#myCarousel2.carousel.slide
  .carousel-inner
    .item.active
      h2 t6 is Mobile-first & Responsive
      a(href='#')
        img.thumbnail.center-block(src='/img/phone.jpg', alt='t6 is Mobile-first & Responsive')
      .caption
        p
          | Mobile & tablet designs works on all devices, browsers & resolutions. Designs adjust and fit to the screen size on Dashboard website.
    
    .item
      h2 Objects controls Flows in your library
      a(href='#')
        img.thumbnail.center-block(src='/img/flows-objects.jpg', alt='Objects controls Flows in your library')
      .caption
        p
          | Define your own Object and Flows library. Objects can store data to multiple Flows.

    .item
      h2 Dashboards view to graph your data
      a(href='#')
        img.thumbnail.center-block(src='/img/dashboard.jpg', alt='Dashboards view to graph your data')
      .caption
        p
          | Data are displayed as graphs and included into Dashboards.

    .item
      h2 Snippets to customize Boards
      a(href='#')
        img.thumbnail.center-block(src='/img/snippet-valuedisplay.jpg', alt='Snippets to customize Boards')
      .caption
        p
          | Snippets for re-usable and embeddable piece of panels.

  ol.carousel-indicators
    li.active(data-target='#myCarousel2', data-slide-to='0')
    li(data-target='#myCarousel2', data-slide-to='1')
    li(data-target='#myCarousel2', data-slide-to='2')
    li(data-target='#myCarousel2', data-slide-to='3')
  
