#myCarousel.carousel.slide(data-ride='carousel')

  //ol.carousel-indicators
    //li.active(data-target='#myCarousel', data-slide-to='0')
    //li(data-target='#myCarousel', data-slide-to='1')
    //li(data-target='#myCarousel', data-slide-to='2')

  .carousel-inner(role='listbox')

    .item.active
      img.third-slide(height='500', src='/img/opl_img3.jpg', alt='')
      .container
        .carousel-caption
          h1 Make Decision
          p
            | Decision-Rules are customizable Actions triggered on Events.
          p
            a.btn.btn-lg.btn-primary(href='/decision-rules', role='button') Learn more  
    
    .item
      img.first-slide(height='500', src='/img/opl_img2.jpg', alt='')
      .container
        .carousel-caption
          h1 Monitor your systems
          p
            | 
          p
            a.btn.btn-lg.btn-primary(href='/register', role='button') Sign-up

    .item
      img.second-slide(height='500', src='/img/opl_img.jpg', alt='')
      .container
        .carousel-caption
          h1 Control your data via API
          p
            | 
          p
            a.btn.btn-lg.btn-primary(href='/features/api', role='button') Learn more

  a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
    span.fa.fa-chevron-left(aria-hidden='true')
    span.sr-only Previous

  a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
    span.fa.fa-chevron-right(aria-hidden='true')
    span.sr-only Next