.list-group-item(href='#')
  h4.list-group-item-heading
    span.fa.fa-bullseye
    | &nbsp;value
  p
    span.label.label-primary Mqtt:
    | &nbsp;
    span.label.label-warning ID:
    | &nbsp;
    span.label.label-danger Flow:
    | &nbsp;