.footer
  p 
    .container.text-center
       p.text-muted
         | EasyIOT v2.0.1

         span &nbsp;&ndash;&nbsp;
         a(href='/contact') Contact

         span &nbsp;&ndash;&nbsp;
         a(href='/about') About

         span &nbsp;&ndash;&nbsp;
         a(href='/v2.0.1/status')
           span.glyphicon.glyphicon-heart-empty
           |  API Status

         span &nbsp;&ndash;&nbsp;
         a(href='https://github.com/mathcoll/Easy-IOT')
           span.fa.fa-github
           |  GitHub

script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\\/script>')
script(type='text/javascript', src='/js/bootstrap.min.js')
// IE10 viewport hack for Surface/desktop Windows 8 bug
script(type='text/javascript', src='/js/ie10-viewport-bug-workaround.js')