footer.footer.navbar-fixed-bottom
  .visible-xs-block
    .btn-group.btn-group-justified
      - if (user)
        -if ( currentUrl === '/objects' || currentUrl === '/objects/' )
          a.btn-group.btn(href='/objects/add')
            i.fa.fa-2x.fa-plus-square(title='Add an Object to my library')  
        -else
          a.btn-group.btn(href='/objects')
            i.fa.fa-2x.fa-cubes(data-toggle='tooltip', data-placement='top', title='My Objects in library')  
        
        -if ( currentUrl === '/flows' || currentUrl === '/flows/' )
          a.btn-group.btn(href='/flows/add')
            i.fa.fa-2x.fa-plus-square(data-toggle='tooltip', data-placement='top', title='Add a Flow to my library')  
        -else
          a.btn-group.btn(href='/flows')
            i.fa.fa-2x.fa-random(data-toggle='tooltip', data-placement='top', title='My Flows in library')  

        -if ( currentUrl === '/snippets' || currentUrl === '/snippets/' )
          a.btn-group.btn(href='/snippets/add')
            i.fa.fa-2x.fa-plus-square(data-toggle='tooltip', data-placement='top', title='Add a Snippet to my library')  
        -else
          a.btn-group.btn(href='/snippets')
            i.fa.fa-2x.fa-puzzle-piece(data-toggle='tooltip', data-placement='top', title='My Snippets in library')  

        -if ( currentUrl === '/dashboards' || currentUrl === '/dashboards/' )
          a.btn-group.btn(href='/dashboards/add')
            i.fa.fa-2x.fa-plus-square(data-toggle='tooltip', data-placement='top', title='Add a Dashboard to my library')  
        -else
          a.btn-group.btn(href='/dashboards')
            i.fa.fa-2x.fa-area-chart(data-toggle='tooltip', data-placement='top', title='My Dashboards in library')  

        a.btn-group.btn(href='/account/profile')
          i.fa.fa-2x.fa-user(data-toggle='tooltip', data-placement='top', title='My Profile and Account')  

      - else
        a.btn-group.btn(href='/account/login')
          i.fa.fa-2x.fa-user(data-toggle='tooltip', data-placement='top', title='Sign In')   
            span.center-block Sign In
            
        a.btn-group.btn(href='/account/register')
          i.fa.fa-2x.fa-user-plus(data-toggle='tooltip', data-placement='top', title='Sign Up to create an Account')
            span.center-block Sign Up

  .container.hidden-xs.text-center
    p.text-muted
    | t6 v#{version}

    span &nbsp;&ndash;&nbsp;
    a(href='/contact') Contact

    span &nbsp;&ndash;&nbsp;
    a(href='/about') About

    span &nbsp;&ndash;&nbsp;
    a(href='/status')
      span.fa.fa-heart-o
      |  API #{version} Status

    span &nbsp;&ndash;&nbsp;
    a(href='https://github.com/mathcoll/t6')
      span.fa.fa-github
      |  GitHub

link(href='/css/query-builder/query-builder.2.3.3.css', rel='stylesheet')
link(href='/css/bootstrap-slider/bootstrap-slider-7.1.1.css', rel='stylesheet')
link(href='/css/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css', rel='stylesheet')
link(href='/css/font-awesome/4.5.0/font-awesome.min.css', rel='stylesheet')

//- Rules
script(src='/js/doT/doT.min.js')
script(src='/js/jQuery.extendext/jQuery.extendext-0.1.1.min.js')
script(src='/js/bootstrap-select/bootstrap-select-1.10.0.min.js')
script(src='/js/bootbox/bootbox-4.4.0.min.js')
script(src='/js/bootstrap-slider/bootstrap-slider-7.1.1.min.js')
script(src='/js/selectize.js/selectize-0.12.1.min.js')
script(src='/js/query-builder/query-builder-2.3.3.min.js')
script(src='/js/jquery-ui/jquery-ui-1.11.4.min.js')
script(src='/js/bootstrap-notify/bootstrap-notify-3.1.3.min.js')
script( src='/js/bootstrap.min.js')

//- IE10 viewport hack for Surface/desktop Windows 8 bug
script(type='text/javascript', src='/js/ie10-viewport-bug-workaround.min.js')
script(type='text/javascript').
  $(function () {
    $('#sortable, .sortable').sortable({
      axis: "xy",
      cursor: "move",
      opacity: 0.5,
      connectWith: "ul.connectedSortable",
      placeholder: "ui-state-highlight"
    }).disableSelection();
    
    $('[data-toggle="tooltip"]').tooltip();

    $('.navbar-toggle').click(function () { $('.navbar-nav form.header-search input[name="q"]').attr('style', 'width:100%;'); $('.navbar-nav:first-child').attr('style', 'padding-top:50px;'); $('.navbar-nav').toggleClass('slide-in'); $('.side-body').toggleClass('body-slide-in'); $('#search').removeClass('in').addClass('collapse').slideUp(300); });
    $('#search-trigger').click(function () { $('.navbar-nav').removeClass('slide-in'); $('.side-body').removeClass('body-slide-in'); });
  });