head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='icon', href='/img/favicon.ico')
  title #{title}
  link(href='/css/bootstrap.min.css', rel='stylesheet')
  link(href='/css/font-awesome/4.5.0/font-awesome.min.css', rel='stylesheet')
  link(href='/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
  link(href='/css/starter-template.css', rel='stylesheet')
  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  //if lt IE 9
  script(src='/js/html5shiv/3.7.2/html5shiv.min.js')
  script(src='/js/respond/1.4.2/respond.min.js')
  
  script(type='text/javascript', src='/js/vendor/jquery.min.js')
  script.
    window.jQuery || document.write('<script src="//code.jquery.com/jquery-1.12.3.min.js"><\\/script>')