nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Easy-IOT
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        - if (user)
          li
            a(href='/objects') 
              i.glyphicon.glyphicon-inbox
                |  Objects
          li
            a(href='/flows')
              i.glyphicon.glyphicon-random
                |  Flows

          li.dropdown
            a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='#')
              | Dashboards 
              span.caret
            ul.dropdown-menu
              li
                a(href='#')
                  span.glyphicon.glyphicon-th-list &nbsp;My Dashboards
              li.divider(role='separator')
              li
                a(href='/dashboards/1')
                  span.glyphicon.glyphicon-th-large &nbsp;Dashboard 1
              li
                a(href='/dashboards/2')
                  span.glyphicon.glyphicon-th-large &nbsp;Dashboard 2

      ul.nav.navbar-nav.navbar-right
        - if (user)
          li
            form.header-search(method='post', action='/search')
              .row(style='padding-top: 8px;')
                .col-lg-12
                  .input-group
                    input.form-control(name='q', type='text', placeholder='Search Object, Flows...', style='width:140px')
                    span.input-group-btn.hidden-sm
                      button.btn.btn-default.glyphicon.glyphicon-search(type='submit', style='top:0;') 

          li.dropdown
            a.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='#')
              i.glyphicon.glyphicon-user
              |  My Account 
              span.caret
            ul.dropdown-menu
              li
                a(href='/profile')
                  img.img-responsive.img-circle(src='http://www.gravatar.com/avatar/0cb0a67831358250366c1d5fbe2ff925?s=40&d=mm&r=g', align='left', alt='Responsive image')
                  span #{user.firstName} #{user.lastName}
                  br
                  span
                    i #{user.role}
              li.divider(role='separator')
              li
                a(href='/decision-rules')
                  span.glyphicon.glyphicon-filter &nbsp;Decision Rules
              li
                a(href='/v2.0.1/status')
                  span.glyphicon.glyphicon-heart-empty &nbsp;API Status
              li
                a(href='https://github.com/mathcoll/Easy-IOT')
                  span.fa.fa-github &nbsp;&nbsp;&nbsp;&nbsp;GitHub
              li.divider(role='separator')
              li
                a(href='/logout')
                  span.glyphicon.glyphicon-off &nbsp;Logout
        - else
              li
                a(href='/login')
                  span.glyphicon.glyphicon-off &nbsp;Login
              li
                a(href='/register')
                  span.glyphicon.glyphicon-off &nbsp;Register
              li
                a(href='/v2.0.1/status')
                  span.glyphicon.glyphicon-heart-empty
                  |  API Status
              li
                a(href='https://github.com/mathcoll/Easy-IOT')
                  span.fa.fa-github
                  |  GitHub
