.row
  .side-menu
    nav.navbar.navbar-default(role='navigation')
        button.navbar-toggle(type='button')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      .side-menu-container