div.list-group-item
  h4.list-group-item-heading
    span.glyphicon.glyphicon-filter  Rule Name
    
    div
      small Watch 
        | &nbsp;
        span.label.label-primary Mqtt topic
      
    div
      small Triggered on
        | &nbsp;
        span.label.label-success Event 1
        | &nbsp;and&nbsp;
        span.label.label-success Event 2
        | &nbsp;and&nbsp;
        span.label.label-success Event 3
        
    div
      small Actions
        | &nbsp;
        span.label.label-info SMS
        | &nbsp;
        span.label.label-info Email
        | &nbsp;
        span.label.label-info Arduino TinyDisplay

    