doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar-on-top.jade

    .container.starter-template
      .row
        .col-sm-12
          h2.fa.fa-2x.fa-area-chart &nbsp;Customize your Dashboards

      .row
        .col-sm-12
          h3 Overview
          p A Dashboard is a container displaying one (or more) Snippet from your library.
          
        .col-sm-12
          h3 Name and Description
          p Both are customizable from the creation page and from Dashboard itself via an Inline-edit:
          p
            img.account-wall(src="/img/dashboard-custom-name.png", style="margin:0;padding:0;")

        .col-sm-12
          h3 Customizable layout
          p Each Dashboard is setup on the following layout predefined template:
          ul.list-unstyled.list-group
            li.list-group-item
              img(src="/img/layout_onecolumn.png")
              strong  One Column Layout: 
              span Only one column to list Snippets. Often used when need to be displayed to small screens.
            li.list-group-item
              img(src="/img/layout_twocolumnsleft.png")
              strong  Two Columns (Left): 
              span Snippets are on the main columns and a sidebar is displayed to the left.
            li.list-group-item
              img(src="/img/layout_twocolumnsright.png")
              strong  Two Columns (Right): 
              span Snippets are on the main columns and a sidebar is displayed to the right.
            li.list-group-item
              img(src="/img/layout_threecolumns.png")
              strong  Three Columns: 
              span Almost clear, this layout split the Dashboard into 3 uniform columns.

        .col-sm-12
          h3 Multiple Snippets available
          p t6 onboard multiple predefined Snippets. You can also add your own to the list:
          ul.list-unstyled.list-group
            li.list-group-item
              img(src="/img/snippet-boolean.jpg", width="100")
              strong  Boolean: 
              span Used when you need to get a boolean value from a Flow, usually for a switch (on, off).

            li.list-group-item
              img(src="/img/snippet-clock.jpg", width="100")
              strong  Simple Clock: 
              span This Snippet was initially to test the Snippet implementation into Dashboard. Really simple and basic.

            li.list-group-item
              img(src="/img/snippet-flowgraph.jpg", width="100")
              strong  Flow graph: 
              span Draw a bar-chart from your data.

            li.list-group-item
              img(src="/img/snippet-simplerow.jpg", width="100")
              strong  Simple Row: 
              span This Snippet is compatible with multiple Flows.

            li.list-group-item
              img(src="/img/snippet-sparkline.jpg", width="100")
              strong  Sparkline: 
              span This Snippet is compatible with multiple Flows.

            li.list-group-item
              img(src="/img/snippet-valuedisplay.jpg", width="100")
              strong  Value Display: 
              span 

            li.list-group-item
              img(src="/img/snippet-weather.jpg", width="100")
              strong  Weather: 
              span 

    include ../includes/foot.jade