doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade

    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-area-chart &nbsp;My Dashboards&nbsp;
          if (message && message.type && message.value)
            div.alert(class='alert-#{message.type}', role='alert') !{message.value}
        blockquote.fa.fa-comment  

      .row.side-body
        .col-sm-12
          if (dashboards.length)
            ul.list-group.list-unstyled.col-sm-12.col-md-12.col-md-offset-0
              include ../includes/pagination.jade
              include ./item_header.jade
              .list-group
              - for(dashboard in dashboards) {
                include ./item_list.jade
              - }
              include ../includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any Dashboard yet in your library. You can add a <a href="/dashboards/add">Dashboard</a> to graph your Flows
          p &nbsp;

    include ../includes/foot.jade