.hidden-xs.table-header.clearfix
  span.col-sm-6
    strong Name/Id/Description
  span.col-sm-2
    strong Snippets
  span.col-sm-1
    strong Layout
  span.col-sm-2
    strong Created/Updated
  span.col-sm-1
    strong Actions