doctype html
html(lang='en')
  - title=dashboard.name
  include ../includes/head.jade
  body
    include ../includes/navbar-on-top.jade

    .container-fluid.starter-template
      .row.col-md-12
        h2.fa.fa-2x.fa-random  #{dashboard.name}
        p !{dashboard.description}

      .row.col-md-12
        .col-xs-10.col-md-8
          ul.list-unstyled
            !{snippetHtml}

        .col-xs-2.col-md-4
          .sidebar-module-inset
            ul.list-unstyled
              p Right Sidebar Column

    //include ../includes/foot.jade