doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade
    .container
      .starter-template &nbsp;
      p &nbsp;

    .container
        .row.row1
          .col-md-12
            h3.center-text.capital.f1 Something went Wrong!
            h1#error.center-text 404
            p.center-text Page not Found!
            p &nbsp;
            hr.featurette-divider
  
    include ./includes/foot.jade