doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container-fluid
      .row.side-body
        .row.row1
          .col-md-12
            h3.center-text.capital.f1 Something went Wrong!
            h1#error.center-text 500
            p.center-text #{title}
            p #{err.stack}
            hr.featurette-divider
  
    include ./includes/foot.jade