doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .-o-container-fluid
      .row.side-body
        .row.row1
          .col-md-12
            h3.center-text.capital.f1 Something went Wrong!
            h1#error.center-text 503
            p.center-text #{title}
            -if ( settings.env == 'development' )
              p #{err.stack}
            -end
            hr.featurette-divider
  
    include ./includes/foot.jade