doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .-o-container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-info-circle &nbsp;About

        .col-sm-12
          .panel.panel-default
            .panel-body
              h3#ti1 INFORMATION RELATIVE AUX "COOKIES" DE NAVIGATION
            .panel-body
              p Notre site utilise des "cookies" ou témoins de connexion
              p Un cookie ne nous permet pas de vous identifier; en revanche, il enregistre des informations relatives à la navigation de votre ordinateur sur notre site.(les pages que vous avez consultées, la date et l'heure de la consultation, etc.) que nous pourrons lire lors de vos visites ultérieures.
              p La durée de conservation de ces informations dans votre ordinateur est de 10 jours.
              p Nous vous informons que vous pouvez vous opposer à l'enregistrement de cookies en configurant votre navigateur.
              p Les seuls liens avec des sites tiers peuvent se faire depuis votre image Gravatar ou la carte OpenStreetMap. 
              p Images on this website can be managed by CDN, cookie can be used.

        .col-sm-12
          .panel.panel-default
            .panel-body
              h3#ti2 DROITS D'AUTEURS
            .panel-body
              p Sauf mention contraire, le contenu de ce site est sous contrat GPL.
              p L'image phone.jpg sur la page accueil est sous license 
               a(href="https://creativecommons.org/licenses/by-sa/3.0/") CC BY-SA 3.0

        .col-sm-12
          .panel.panel-default
            .panel-body
              h3#ti3 LOI "INFORMATIQUE ET LIBERTÉS"
            .panel-body
              p Conformément à la loi "informatique et libertés" n°78-17 du 6 janvier 1978 les personnes fournissant des données personnelles bénéficient d'un droit d'accés et de rectification de ces données.
              p Ce droit peut être exercé en s'adressant au webmaster.
              p Do Not Track: you are not being tracked here. :-)

        .col-sm-12
          .panel.panel-default
            .panel-body
              h3#ti4 HÉBERGEMENT
            .panel-body
              p Ce site est hébergé sur une connexion personnelle (Free SAS) ; IP=78.227.104.13 ; Adresse de contact disponible dans le whois du domaine.  

    include ./includes/foot.jade