| [
|   {
|     "title": "Arduino Nano",
|     "description": "",
|     "image": "/img/m/devices/arduino-nano.png"
|   },
|   {
|     "title": "Arduino Uno",
|     "description": "",
|     "image": "/img/m/devices/arduino-uno.png"
|   },
|   {
|     "title": "Arduino Due",
|     "description": "",
|     "image": "/img/m/devices/arduino-due.png"
|   },
|   {
|     "title": "Arduino Leonardo",
|     "description": "",
|     "image": "/img/m/devices/arduino-leonardo.png"
|   },
|   {
|     "title": "Arduino Mega",
|     "description": "",
|     "image": "/img/m/devices/arduino-mega.png"
|   },
|   {
|     "title": "ESP-8266",
|     "description": "",
|     "image": "/img/m/devices/esp-8266.png"
|   },
|   {
|     "title": "Node MCU",
|     "description": "",
|     "image": "/img/m/devices/node-mcu.png"
|   },
|   {
|     "title": "Raspberry Pi",
|     "description": "",
|     "image": "/img/m/devices/raspberrypi.png"
|   }
| ]