| [
|   {
|     "title": "Arduino Nano",
|     "description": "The Arduino Nano is a small, complete, and breadboard-friendly board based on the ATmega328 (Arduino Nano 3.x). It has more or less the same functionality of the Arduino Duemilanove, but in a different package. It lacks only a DC power jack, and works with a Mini-B USB cable instead of a standard one.",
|     "image": "/img/m/devices/arduino-nano.png"
|   },
|   {
|     "title": "Arduino Uno",
|     "description": "The UNO is the best board to get started with electronics and coding. If this is your first experience tinkering with the platform, the UNO is the most robust board you can start playing with. The UNO is the most used and documented board of the whole Arduino family.",
|     "image": "/img/m/devices/arduino-uno.png"
|   },
|   {
|     "title": "Arduino Leonardo",
|     "description": "Similar to an Arduino UNO, can be recognized by computer as a mouse or keyboard.",
|     "image": "/img/m/devices/arduino-leonardo.png"
|   },
|   {
|     "title": "Arduino Mega",
|     "description": "The MEGA 2560 is designed for more complex projects. With 54 digital I/O pins, 16 analog inputs and a larger space for your sketch it is the recommended board for 3D printers and robotics projects. This gives your projects plenty of room and opportunities.",
|     "image": "/img/m/devices/arduino-mega.png"
|   },
|   {
|     "title": "Wemos D1 mini",
|     "description": "Wemos D1 mini is a popular ESP8266 development board that can be programmed with Arduino IDE, NodeMCU (lua script) and MicroPython for ESP8266.",
|     "image": "/img/m/devices/wemos-d1-mini.png"
|   },
|   {
|     "title": "ESP-8266",
|     "description": "The ESP8266 is a low-cost Wi-Fi microchip with full TCP/IP stack and microcontroller capability produced by manufacturer Espressif Systems in Shanghai, China. The chip first came to the attention of western makers in August 2014 with the ESP-01 module, made by a third-party manufacturer Ai-Thinker.",
|     "image": "/img/m/devices/esp-8266.png"
|   },
|   {
|     "title": "Node MCU",
|     "description": "An open-source firmware and development kit that helps you to prototype your IOT product within a few Lua script lines",
|     "image": "/img/m/devices/node-mcu.png"
|   },
|   {
|     "title": "Raspberry Pi",
|     "description": "The Raspberry Pi is a series of small single-board computers developed in the United Kingdom by the Raspberry Pi Foundation to promote teaching of basic computer science in schools and in developing countries. The original model became far more popular than anticipated, selling outside its target market for uses such as robotics. It does not include peripherals (such as keyboards and mice) and cases. However, some accessories have been included in several official and unofficial bundles.",
|     "image": "/img/m/devices/raspberrypi.png"
|   },
|   {
|     "title": "Any other device ?",
|     "description": "Your device is not on the list? Probably it has not been tested yet, please contact us and we'll update this list."
|   }
| ]