doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .-o-container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-info-circle &nbsp;Contact us

        .col-sm-12
          .panel.panel-default
            .panel-body
              p Because you didn't land to that website by chance, you certainly have something to share with us related to IoT.
              p t6 could grow from your experience and your feedback.
              p Please drop us a message to explain your needs so that we could understand your project and find the best to build future features on t6.
              p
                a(href='mailto:mathieu@internetcollaboratif.info') Drop us a message
    include ./includes/foot.jade