doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container
      .starter-template
        h2.glyphicon.glyphicon-th-large &nbsp;Dashboard&nbsp;
          .dropdown.pull-right
            button#dropdownMenu.btn.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
              span.glyphicon.glyphicon-cog &nbsp;
              span.caret
            ul.dropdown-menu(aria-labelledby='dropdownMenu')
              li
                a(href='#')
                  span.glyphicon.glyphicon-pencil  Rename
              li
                a(href='#')
                  span.glyphicon.glyphicon-user  Edit permission
              li
                a(href='#')
                  span.glyphicon.glyphicon-remove-sign  Delete

        ul.list-unstyled#sortable
          li.col-sm-12
            .panel.panel-default.panel-resizable
              .panel-heading.handle
                 h3.panel-title.pull-left
                   span.glyphicon.glyphicon-scale
                 span.btn.btn-xs.pull-right.glyphicon.glyphicon-menu-up(data-toggle="collapse" data-target="#collapseGraph1" aria-expanded="true" aria-controls="collapseGraph1") 
                 .dropdown.pull-right
                    button#dropdownMenu.btn.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                      span.glyphicon.glyphicon-cog &nbsp;
                      span.caret
                    ul.dropdown-menu(aria-labelledby='dropdownMenu')
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-refresh  Refresh Data
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-pencil  Edit Module
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-remove-sign  Remove
                 div.clearfix
              .panel-body.collapse.in#collapseGraph1
                 #graph1.col-xs-12(style='height:300px;')
              .panel-footer 

          li.col-sm-4
            .panel.panel-default
              .panel-heading.handle
                 h3.panel-title.pull-left
                   span.glyphicon.glyphicon-scale
                 span.btn.btn-xs.pull-right.glyphicon.glyphicon-menu-up(data-toggle="collapse" data-target="#collapseGraph2" aria-expanded="true" aria-controls="collapseGraph2") 
                 .dropdown.pull-right
                    button#dropdownMenu.btn.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                      span.glyphicon.glyphicon-cog &nbsp;
                      span.caret
                    ul.dropdown-menu(aria-labelledby='dropdownMenu')
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-refresh  Refresh Data
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-pencil  Edit Module
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-remove-sign  Remove
                 div.clearfix
              .panel-body.collapse.in#collapseGraph2
                 #graph2.col-xs-12(style='height:300px;')
              .panel-footer 

          li.col-sm-4
            .panel.panel-default
              .panel-heading.handle
                 h3.panel-title.pull-left
                   span.glyphicon.glyphicon-scale
                 span.btn.btn-xs.pull-right.glyphicon.glyphicon-menu-up(data-toggle="collapse" data-target="#collapseGraph3" aria-expanded="true" aria-controls="collapseGraph3") 
                 .dropdown.pull-right
                    button#dropdownMenu.btn.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                      span.glyphicon.glyphicon-cog &nbsp;
                      span.caret
                    ul.dropdown-menu(aria-labelledby='dropdownMenu')
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-refresh  Refresh Data
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-pencil  Edit Module
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-remove-sign  Remove
                 div.clearfix
              .panel-body.collapse.in#collapseGraph3
                 #graph3.col-xs-12(style='height:300px;')
              .panel-footer 

          li.col-sm-4
            .panel.panel-default
              .panel-heading.handle
                 h3.panel-title.pull-left
                   span.glyphicon.glyphicon-scale
                 span.btn.btn-xs.pull-right.glyphicon.glyphicon-menu-up(data-toggle="collapse" data-target="#collapseGraph4" aria-expanded="true" aria-controls="collapseGraph4") 
                 .dropdown.pull-right
                    button#dropdownMenu.btn.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                      span.glyphicon.glyphicon-cog &nbsp;
                      span.caret
                    ul.dropdown-menu(aria-labelledby='dropdownMenu')
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-refresh  Refresh Data
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-pencil  Edit Module
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-remove-sign  Remove
                 div.clearfix
              .panel-body.collapse.in#collapseGraph4
                 #graph4.col-xs-12(style='height:300px;')
              .panel-footer 

          li.col-sm-6
            .panel.panel-default
              .panel-heading.handle
                 h3.panel-title.pull-left
                   span.glyphicon.glyphicon-scale
                 span.btn.btn-xs.pull-right.glyphicon.glyphicon-menu-up(data-toggle="collapse" data-target="#collapseGraph5" aria-expanded="true" aria-controls="collapseGraph5") 
                 .dropdown.pull-right
                    button#dropdownMenu.btn.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                      span.glyphicon.glyphicon-cog &nbsp;
                      span.caret
                    ul.dropdown-menu(aria-labelledby='dropdownMenu')
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-refresh  Refresh Data
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-pencil  Edit Module
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-remove-sign  Remove
                 div.clearfix
              .panel-body.collapse.in#collapseGraph5
                 #graph5.col-xs-12(style='height:300px;')
              .panel-footer 

          li.col-sm-6
            .panel.panel-default
              .panel-heading.handle
                 h3.panel-title.pull-left
                   span.glyphicon.glyphicon-scale
                 span.btn.btn-xs.pull-right.glyphicon.glyphicon-menu-up(data-toggle="collapse" data-target="#collapseGraph6" aria-expanded="true" aria-controls="collapseGraph6") 
                 .dropdown.pull-right
                    button#dropdownMenu.btn.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                      span.glyphicon.glyphicon-cog &nbsp;
                      span.caret
                    ul.dropdown-menu(aria-labelledby='dropdownMenu')
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-refresh  Refresh Data
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-pencil  Edit Module
                      li
                        a(href='#')
                          span.glyphicon.glyphicon-remove-sign  Remove
                 div.clearfix
              .panel-body.collapse.in#collapseGraph6
                 #graph6.col-xs-12(style='height:300px;')
              .panel-footer 

    include ./includes/foot.jade
    #tooltip(style='position: absolute; border: 1px solid rgb(255, 221, 221); padding: 2px; background-color: rgb(255, 238, 238); opacity: 0.8;display: none;')

    script(type='text/javascript', src='/js/chartjs/chart.min.js')
    script(type='text/javascript', src='/js/sparkline/jquery.sparkline.min.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.pie.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.orderBars.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.time.min.js')
    script(type='text/javascript', src='/js/flot/date.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.spline.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.stack.js')
    script(type='text/javascript', src='/js/flot/curvedLines.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.resize.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.threshold.js')
    script.script.
      $( '#sortable' ).sortable({
        axis: "xy",
        cursor: "move",
        opacity: 0.6,
        handle: '.panel-heading'
      });
      getData = function(base, flow_id, type, CType, callback, container, limit, page, sort, color) {
        $.ajax({
          url: base+flow_id,
          type: type,
          data:{limit: limit, page: page , sort: sort},
          success: function(d){
            data[flow_id] = (d.data).map(function(i) {
              return [parseInt(i.attributes.timestamp),
              parseInt(i.attributes.value)]
            });
            var lastValue = ((d.data)[0].attributes.timestamp);
            var title = d.links.title;
            var unit = d.links.unit;
            callback(data[flow_id], container, flow_id, lastValue, title, unit, color);
          },
          error: function(d) {
            console.log('ERROR '+base);
            console.log(d);
          }
        });
      } // end getData
      
      doGraph = function(data, container, flow_id, lastValue, title, unit, color) {
        var date = new Date(lastValue);
        lastValue = date.getDate()+'/'+(date.getMonth()+1)+'/'+date.getFullYear()+' '+date.getHours()+':'+date.getMinutes();
        options.colors = [color];
        if (flow_id==5) {
          options.series = { bars: {show: true}};
          options.bars = { align: "center", barWidth: 24 * 15 * 60 * 30, lineWidth: 1 }
        } else {
          options.series = { bars: {show: false} };
        }
        $.plot($('#'+container), [data], options);
        $('#'+container).parent().parent().find('div.panel-footer').text('Last value at '+lastValue);
        $('#'+container).parent().parent().parent().find('div.panel-heading h3.panel-title').html('<span class="glyphicon glyphicon-scale"></span> '+title);
        $('#'+container).bind("plothover", function (event, pos, item) {
          if (item) {
            var xdate = new Date((item.datapoint[0]).toFixed(0)/1);
            date = xdate.getDate()+'/'+(xdate.getMonth()+1)+'/'+xdate.getFullYear()+' '+xdate.getHours()+':'+xdate.getMinutes();
            y = date+'<br /><b>'+item.datapoint[1].toFixed(2)+unit+'</b>';
            $("#tooltip").html(y).css({backgroundColor: color, top: item.pageY+15, left: item.pageX+15}).show();
          } else {
            $("#tooltip").hide();
          }
        });
      }; // end doGraph

      doGraph2 = function(data, container, flow_id, lastValue, title, unit, color) {
        d.push({
          data : data,
          yaxis: d.length+1,
          label : title+' ('+unit+')',
          name : title,
          unit : unit,
          color: color,
          lines : { show: true, fill: true, lineWidth: 3, steps: false },
          points : { show : true },
          legend: {show: true, position: "sw" },
        });

        if (d.length == 2) {
          var date = new Date(lastValue);
          lastValue = date.getDate()+'/'+(date.getMonth()+1)+'/'+date.getFullYear()+' '+date.getHours()+':'+date.getMinutes();
          $.plot($('#'+container), d, options);
          $('#'+container).parent().parent().find('div.panel-footer').text('Last value at '+lastValue);
          $('#'+container).parent().parent().parent().find('div.panel-heading h3.panel-title').html('<span class="glyphicon glyphicon-scale"></span> '+title);
          $('#'+container).bind("plothover", function (event, pos, item) {
            if (item) {
              var xdate = new Date((item.datapoint[0]).toFixed(0)/1);
              date = xdate.getDate()+'/'+(xdate.getMonth()+1)+'/'+xdate.getFullYear()+' '+xdate.getHours()+':'+xdate.getMinutes();
              y = item.series.name+'<br />'+date+'<br /><b>'+item.datapoint[1].toFixed(2)+item.series.unit+'</b>';
              $("#tooltip").html(y).css({backgroundColor: color, top: item.pageY+15, left: item.pageX+15}).show();
            } else {
              $("#tooltip").hide();
            }
          });
        }
      }; // end doGraph2

      weekendAreas = function(axes) {
        var markings = [];
        var d = new Date(axes.xaxis.min);
        // go to the first Saturday
        d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
        d.setUTCSeconds(0);
        d.setUTCMinutes(0);
        d.setUTCHours(0);
        var i = d.getTime();
        do {
          // when we don't set yaxis, the rectangle automatically
          // extends to infinity upwards and downwards
          markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
          i += 7 * 24 * 60 * 60 * 1000;
        } while (i < axes.xaxis.max);
        return markings;
      }; // end weekendAreas
      
      var d = new Array();
      var data = new Array();
      var options = {
        lines : { show: true, fill: true, lineWidth: 3, steps: false },
        points : { show : true },
        bars: { show: false, align: "center", barWidth: 24 * 15 * 60 * 30, lineWidth: 1 },
        legend: {show: true, position: "sw"},
        grid: { borderWidth: { top: 0, right: 0, bottom: 0, left: 0 }, borderColor: { top: "", right: "", bottom: "", left: "" }, markings: weekendAreas, clickable: true, hoverable: true, autoHighlight: true, mouseActiveRadius: 5 },
        xaxis: { mode: "time", autoscale: true, timeformat: "%d/%m/%Y<br/>%Hh%M" },
        yaxis: [ { autoscale: true, position: "left" }, { autoscale: true, position: "right" } ],
      };
      var flows = new Array(
        // flow_id, callback, container, limit, page , sort, color
        ["1", doGraph, "graph3", 50, 1, 'desc', '#edc240'],
        ["2", doGraph, "graph4", 50, 1, 'desc', '#ed6b40'],
        ["4", doGraph, "graph5", 10, 1, 'desc', '#40c2ed'],
        ["5", doGraph, "graph2", 50, 1, 'desc', '#c2ed40'],
        ["24", doGraph, "graph6", 50, 1, 'desc', '#c240ed'],
        ["6d844fbf-29c0-4a41-8c6a-0e9f3336cea3", doGraph2, "graph1", 30, 1, 'desc', '#edc240'],
        ["19fc7ca5-a4f1-4af3-91c9-2426bd1a3f0f", doGraph2, "graph1", 30, 1, 'desc', '#afd8f8']
      );
        
      flows.map(function(f) {
        var flow_id = f[0];
        var callback = f[1];
        var container = f[2];
        var limit = f[3];
        var page = f[4];
        var sort = f[5];
        var color = f[6];
        return getData(location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '')+'/v#{version}/data/', flow_id, 'GET', 'application/json', callback, container, limit, page , sort, color);
      }); // end