doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container
      .starter-template
        h2 Dashboard
        .col-sm-6
          .panel.panel-default
            .panel-heading
               h3.panel-title
                 span.glyphicon.glyphicon-scale
                 | &nbsp;Indoor Temperature & Humidity (dht11)
            .panel-body
               #graph1.col-xs-12(style='height:300px;')
            .panel-footer Updated at xx/xx/xxxx xx:xx'xx

        .col-sm-6
          .panel.panel-default
            .panel-heading
               h3.panel-title
                 span.glyphicon.glyphicon-scale
                 | &nbsp;VOC (Yoctopuce)
            .panel-body
               #graph2.col-xs-12(style='height:300px;')
            .panel-footer Updated at xx/xx/xxxx xx:xx'xx

      .starter-template
        .col-sm-6
          .panel.panel-default
            .panel-heading
               h3.panel-title
                 span.glyphicon.glyphicon-scale
                 | &nbsp;Failed Root Login
            .panel-body
               #graph3.col-xs-12(style='height:300px;')
            .panel-footer Updated at xx/xx/xxxx xx:xx'xx

        .col-sm-6
          .panel.panel-info
            .panel-heading
               h3.panel-title
                 span.glyphicon.glyphicon-scale
                 | &nbsp;Free space left
            .panel-body
               #graph4.col-xs-12(style='height:300px;')
            .panel-footer Updated at xx/xx/xxxx xx:xx'xx

      .starter-template
        .col-sm-6
          .panel.panel-info
            .panel-heading
               h3.panel-title
                 span.glyphicon.glyphicon-scale
                 | &nbsp;Memory usage
            .panel-body
               #graph5.col-xs-12(style='height:300px;')
            .panel-footer Updated at xx/xx/xxxx xx:xx'xx

        .col-sm-6
          .panel.panel-info
            .panel-heading
               h3.panel-title
                 span.glyphicon.glyphicon-scale
                 | &nbsp;CPU usage
            .panel-body
               #graph6.col-xs-12(style='height:300px;')
            .panel-footer Updated at xx/xx/xxxx xx:xx'xx

    include ./includes/foot.jade

    script(type='text/javascript', src='/js/chartjs/chart.min.js')
    script(type='text/javascript', src='/js/sparkline/jquery.sparkline.min.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.pie.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.orderBars.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.time.min.js')
    script(type='text/javascript', src='/js/flot/date.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.spline.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.stack.js')
    script(type='text/javascript', src='/js/flot/curvedLines.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.resize.js')
    script(type='text/javascript', src='/js/flot/jquery.flot.threshold.js')
    script.
      var jsonFAKE = Array();
      var json = !{json};

      var d = Array();
      d.push({
      data : (json["6d844fbf-29c0-4a41-8c6a-0e9f3336cea3"].data).map(function(i) {
      return [parseInt(i.attributes.timestamp),
      parseInt(i.attributes.value)]
      }),
      label : 'Temperature Indoor',
      name : 'Temperature Indoor',
      unit : '°C',
      lines : {
      show : true,
      fill : true,
      lineWidth : 2,
      steps : false
      },
      points : {
      show : true
      },
      yaxis : 2,
      threshold : [{
      //	below : 50,
      //	color : 'rgb(200, 20, 30)'
      }, {
      //	below : 3,
      //	color : 'rgb(175, 216, 248)'
      }],
      });
      d.push({
      data : (json["19fc7ca5-a4f1-4af3-91c9-2426bd1a3f0f"].data).map(function(i) {
      return [parseInt(i.attributes.timestamp),
      parseInt(i.attributes.value)]
      }),
      label : 'Humidity Indoor',
      name : 'Humidity Indoor',
      unit : '%',
      lines : {
      show : true,
      fill : false,
      lineWidth : 2,
      steps : false
      },
      points : {
      show : true
      },
      yaxis : 1,
      threshold : [{
      //	below : 50,
      //	color : 'rgb(200, 20, 30)'
      }, {
      //	below : 3,
      //	color : 'rgb(175, 216, 248)'
      }],
      });
      function weekendAreas(axes) {
      var markings = [];
      var d = new Date(axes.xaxis.min);
      // go to the first Saturday
      d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
      d.setUTCSeconds(0);
      d.setUTCMinutes(0);
      d.setUTCHours(0);
      var i = d.getTime();
      do {
      // when we don't set yaxis, the rectangle automatically
      // extends to infinity upwards and downwards
      markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
      i += 7 * 24 * 60 * 60 * 1000;
      } while (i < axes.xaxis.max);
      return markings;
      }
      var options = {
      grid: {
      borderWidth: {
      top: 0,
      right: 0,
      bottom: 0,
      left: 0
      },
      borderColor: {
      top: "#7F8790",
      right: "#7F8790",
      bottom: "#7F8790",
      left: "#7F8790"
      },
      markings: weekendAreas,
      clickable: true,
      hoverable: true,
      autoHighlight: true,
      mouseActiveRadius: 10
      },
      xaxis: { mode: "time", autoscale: true, timeformat: "%d/%m/%Y<br/>%Hh%M" },
      yaxis: [ { autoscale: true, position: null }, { autoscale: true, position: 1 } ],
      };
      
      $("<div id='tooltip'></div>").css({
      position: "absolute",
      display: "none",
      border: "1px solid #fdd",
      padding: "2px",
      "background-color": "#fee",
      opacity: 0.80
      }).appendTo("body");
      
      var chart1 = $.plot($('#graph1'), d, options);
      var chart2 = $.plot($('#graph2'), [(json[5].data).map(function(i) { return [parseInt(i.attributes.timestamp), parseInt(i.attributes.value)] })], options);
      var chart3 = $.plot($('#graph3'), [(json[1].data).map(function(i) { return [parseInt(i.attributes.timestamp), parseInt(i.attributes.value)] })], options);
      var chart4 = $.plot($('#graph4'), [(json[2].data).map(function(i) { return [parseInt(i.attributes.timestamp), parseInt(i.attributes.value)] })], options);
      var chart5 = $.plot($('#graph5'), [(json[4].data).map(function(i) { return [parseInt(i.attributes.timestamp), parseInt(i.attributes.value)] })], options);
      var chart6 = $.plot($('#graph6'), [(json[24].data).map(function(i) { return [parseInt(i.attributes.timestamp), parseInt(i.attributes.value)] })], options);


      $("#graph1").bind("plothover", function (event, pos, item) {
      if (item) {
      var x = item.datapoint[0].toFixed(2),
      y = item.datapoint[1].toFixed(2);
      $("#tooltip").html(y)
      .css({top: item.pageY+5, left: item.pageX+5}).show();
      } else {
      $("#tooltip").hide();
      }
      });
      $("#graph2").bind("plothover", function (event, pos, item) {
      if (item) {
      var x = item.datapoint[0].toFixed(2),
      y = item.datapoint[1].toFixed(2);
      $("#tooltip").html(y)
      .css({top: item.pageY+5, left: item.pageX+5}).show();
      } else {
      $("#tooltip").hide();
      }
      });
      $("#graph3").bind("plothover", function (event, pos, item) {
      if (item) {
      var x = item.datapoint[0].toFixed(2),
      y = item.datapoint[1].toFixed(2);
      $("#tooltip").html(y)
      .css({top: item.pageY+5, left: item.pageX+5}).show();
      } else {
      $("#tooltip").hide();
      }
      });
      $("#graph4").bind("plothover", function (event, pos, item) {
      if (item) {
      var x = item.datapoint[0].toFixed(2),
      y = item.datapoint[1].toFixed(2);
      $("#tooltip").html(y)
      .css({top: item.pageY+5, left: item.pageX+5}).show();
      } else {
      $("#tooltip").hide();
      }
      });
      $("#graph5").bind("plothover", function (event, pos, item) {
      if (item) {
      var x = item.datapoint[0].toFixed(2),
      y = item.datapoint[1].toFixed(2);
      $("#tooltip").html(y)
      .css({top: item.pageY+5, left: item.pageX+5}).show();
      } else {
      $("#tooltip").hide();
      }
      });
      $("#graph6").bind("plothover", function (event, pos, item) {
      if (item) {
      var x = item.datapoint[0].toFixed(2),
      y = item.datapoint[1].toFixed(2);
      $("#tooltip").html(y)
      .css({top: item.pageY+5, left: item.pageX+5}).show();
      } else {
      $("#tooltip").hide();
      }
      });
