doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container-fluid
      .row.side-body
        .col-sm-12
          h2.fa.fa-2x.fa-filter &nbsp;Decision Rules
          blockquote.glyphicon.glyphicon-comment  "Decision-Rule" engine is not yet pushed to github. But a working stable implementation is working at home since several months. To sum up, events are pushed as json payloads to mqtt topics. Then the engine is watching for these payloads and handle them according to specific rules.

    .container-fluid
      .row.side-body
        #accordion.col-sm-12.panel-group(role='tablist', aria-multiselectable='true')
          ol#sortable
            - for(rule in rules) {
              include ./includes/rule_item_list.jade
            - }


    include ./includes/foot.jade
    script(type='text/javascript').
      $( '#sortable' ).sortable({
        axis: "y", cursor: "move", opacity: 0.5
      });
