doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .-o-container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-filter &nbsp;Decision Rules
        blockquote.fa.fa-comment  "Decision-Rule" engine is not yet pushed to github. But a working stable implementation is working at home since several months. To sum up, events are pushed as json payloads to mqtt topics. Then the engine is watching for these payloads and handle them according to specific rules.

    .-o-container-fluid
      .row.side-body
        #accordion.col-sm-12.panel-group(role='tablist', aria-multiselectable='true')
          ol#sortable
            - for(rule in rules) {
              include ./includes/rule_item_list.jade
            - }

    include ./includes/foot.jade

script(type='text/javascript').
  var filters = [{
    id: 'mqtt_topic',
    label: 'MQTT Topic',
    type: 'string',
    description: 'MQTT Topic set when you calls the API.',
    operators: ['equal', 'not_equal', 'in', 'not_in', 'begins_with', 'not_begins_with', 'contains', 'not_contains', 'ends_with', 'not_ends_with', 'is_empty', 'is_not_empty', 'is_null', 'is_not_null']
  }, {
    id: 'value',
    label: 'Value',
    type: 'double',
    validation: {
      step: 0.1
    },
    description: 'The Value sent to TimeSeries.'
  }, {
    id: 'previousValue',
    label: 'Previous Value',
    type: 'double',
    validation: {
      step: 0.1
    },
    description: 'The Value which was sent to TimeSeries just before Value.'
  }, {
    id: 'deltaValue',
    label: 'Delta Value',
    type: 'double',
    validation: {
      step: 0.1
    },
    description: 'The Difference between previous Value and current Value.',
    operators: ['equal', 'not_equal', 'less', 'less_or_equal', 'greater', 'greater_or_equal', 'between', 'not_between']
  }, {
    id: 'isDayTime',
    label: 'is Day Time',
    type: 'integer',
    input: 'radio',
    values: {
      1: 'Yes',
      0: 'No'
    },
    colors: {
      1: 'success',
      0: 'danger'
    },
    description: 'Between sunshine and sunset.',
    operators: ['equal', 'not_equal']
  }, {
    id: 'environment',
    label: 'Environment',
    type: 'string',
    input: 'select',
    values: {
      'production': 'Production',
      'development': 'Development'
    },
    description: 'Allows to set actions based on the server Environment.',
    operators: ['equal', 'not_equal']
  }];
  