doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade
    
    .container-fluid
      .row.side-body
        .col-sm-12
          h2.fa.fa-2x.fa-random &nbsp;Flows from your library
          if (message && message.type && message.value)
            div.alert(class='alert-#{message.type}', role='alert') #{message.value}
        blockquote.fa.fa-comment  Flows contains data collections. Flows are datastore to save time/value. Each Object can POST data to multiple Flows. Flows are defined for each Users and are having permissions.
        
        .col-sm-12
          if (flows.length)
            include ./includes/pagination.jade
            .row.hidden-xs.table-header
              span.col-sm-4
                strong Name
              span.col-sm-2
                strong ID
              span.col-sm-4
                strong Unit
              span.col-sm-2
                strong Permissions

            - for(flow in flows) {
              include ./includes/flow_item_list.jade
            - }
            include ./includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any Flow yet in your library. You can <a href="/flows/add">add a Flow</a>.
          p &nbsp;

    include ./includes/foot.jade