doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    include ./includes/carousel.jade

    .container.marketing
      .row &nbsp;
      .row &nbsp;
      
    .container.dmarketing
      .row
        .col-lg-3(style='min-height:345px')
          hr.featurette-divider
          span.center-text.glyphicon.glyphicon-record(style="font-size:94px;")
          h2 Sense
            small  events.
          p
            | Whether it's your own sensors or external Flows from Internet, sensors collect values and communicate them to the Easy-IOT.
          p(style='bottom:0;position:absolute;width:235px;margin:0 15px;')
            a.center-block.btn.btn-default(href='#', role='button') View details »

        .col-lg-3(style='min-height:345px')
          hr.featurette-divider
          span.center-text.glyphicon.glyphicon-save(style="font-size:94px;")
          h2 Store
            small   values.
          p
            | Data Storage as time-series.
          p(style='bottom:0;position:absolute;width:235px;margin:0 15px;')
            a.center-block.btn.btn-default(href='#', role='button') View details »

        .col-lg-3(style='min-height:345px')
          hr.featurette-divider
          span.center-text.glyphicon.glyphicon-eye-open(style="font-size:94px;")
          h2 Monitor
            small   information.
          p
            | Real-time dashboards provides control on data captured by the sensors.
          p(style='bottom:0;position:absolute;width:235px;margin:0 15px;')
            a.center-block.btn.btn-default(href='#', role='button') View details »

        .col-lg-3(style='min-height:345px')
          hr.featurette-divider
          span.center-text.glyphicon.glyphicon-bullhorn(style="font-size:94px;")
          h2 Alert
            small    through email, sms, twitter, Mqtt...
          p
            | According to your own rules and data values, send alerts via email, SMS, Twitter...
          p(style='bottom:0;position:absolute;width:235px;margin:0 15px;')
            a.center-block.btn.btn-default(href='#', role='button') View details »


      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | Objects 
            span.text-muted Connected.
          p.lead
            | Embedded, Automatisation, Domotic, Sensors
        .col-md-5
          img.featurette-image.img-responsive.center-block(src='/img/opl_img-2.jpg', alt='')

      hr.featurette-divider
      .row.featurette
        .col-md-7.col-md-push-5
          h2.featurette-heading
            | Data Flows 
            span.text-muted as Time-series, and plain-text data.
          p.lead
            |  
        .col-md-5.col-md-pull-7
          img.featurette-image.img-responsive.center-block(src='/img/opl_img-2.jpg', alt='')

      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | Dashboards 
            span.text-muted customizable.
          p.lead
            | Graphics, data-management, Monitoring, Reporting.
        .col-md-5
          img.featurette-image.img-responsive.center-block(src='/img/opl_img-2.jpg', alt='')

      hr.featurette-divider
      .row.featurette
        .col-md-7.col-md-push-5
          h2.featurette-heading
            | API 
            span.text-muted Time-series, plain-text data.
          p.lead
            | Update flows using the API and remotely manage you data.
        .col-md-5.col-md-pull-7
          img.featurette-image.img-responsive.center-block(src='/img/opl_img-2.jpg', alt='')

      hr.featurette-divider

    include ./includes/foot.jade