| [
|     {
|       "title": "Mobile-first & PWA",
|       "titlecolor": "#000000",
|       "description": "Mobile & tablet designs works on all devices – browsers & resolutions – thanks to progressive web app (PWA). Designs adjust and fit to the screen size on Dashboard website.",
|       "image": "//cdn.internetcollaboratif.info/img/phone.webp",
|       "className": "mdl-grid mdl-cell--12-col"
|     },
|     {
|       "title": "t6 API first",
|       "titlecolor": "#ffffff",
|       "description": "Live, eat, and breathe the API-first lifestyle of t6. Easy to Use api.<br />6 resources to take control of your Objects, Flows, Dashboards, Snippets, Rules, and Mqtts topics.",
|       "image": "//cdn.internetcollaboratif.info/img/opl_img2.webp",
|       "action": {"id": "docs", "label": "Read the Doc"}
|     },
|     {
|       "title": "t6 Compatible Devices",
|       "titlecolor": "#ffffff",
|       "description": "t6 is compatible with multiple Arduino devices, get the list and support us to add more.",
|       "image": "//cdn.internetcollaboratif.info/img/opl_img.webp",
|       "action": {"id": "compatible-devices", "label": "Compatible Devices"}
|     },
|     {
|       "title": "Time-series Datapoints",
|       "titlecolor": "#ffffff",
|       "description": "Communication becomes easy in the platform with Timestamped values. Flows allows to retrieve and classify data.",
|       "image": "//cdn.internetcollaboratif.info/img/opl_img3.webp",
|       "action": {"id": "flows", "label": "List Flows"}
|     },
|     {
|       "title": "Connected Objects",
|       "titlecolor": "#ffffff",
|       "description": "Connecting anything physical or virtual to t6 Api without any hassle. Embedded, Automatization, Domotic, Sensors, any Objects or Devices can be connected and communicate to t6 via RESTful API. Unic and dedicated application to rules them all and designed to simplify your journey.",
|       "image": "//cdn.internetcollaboratif.info/img/opl_img3.webp",
|       "action": {"id": "objects", "label": "List Objects"}
|     },
|     {
|       "title": "Tokens for security",
|       "titlecolor": "#ffffff",
|       "description": "t6 supports JWT Access Token based authentication. Any of your resources are protected using JWT authentication. Access Token are Short-Live to improve security level. Fine grade permissions are planned in the roadmap to manage and share resources.",
|       "image": "//cdn.internetcollaboratif.info/img/opl_img2.webp",
|       "action": {"id": "login", "label": "Get Started"}
|     },
|     {
|       "title": "Dashboards",
|       "titlecolor": "#ffffff",
|       "description": "t6 support multiple Snippets to create your own IoT Dashboards for data visualization. Snippets are ready to Use Html components integrated into the application. Dashboards allows to empower your data-management by Monitoring and Reporting activities.",
|       "image": "//cdn.internetcollaboratif.info/img/opl_img2.webp",
|       "action": {"id": "dashboards", "label": "List Dashboards"}
|     },
|     {
|       "title": "Decision Rules to get smart",
|       "titlecolor": "#ffffff",
|       "description": "Trigger action from Mqtt and decision-tree. Let's your Objects talk to the platform as events.",
|       "image": "//cdn.internetcollaboratif.info/img/opl_img.webp",
|       "action": {"id": "rules", "label": "List Rules"}
|     },
|     {
|       "title": "Sense events",
|       "titlecolor": "#ffffff",
|       "description": "Whether it's your own sensors or external Flows from Internet, sensors collect values and communicate them to t6.",
|       "image": "//cdn.internetcollaboratif.info/img/opl_img.webp",
|       "action": {"id": "mqtts", "label": "Get Started"}
|     },
|     {
|       "title": "Users from all contients",
|       "titlecolor": "#ffffff",
|       "description": "<img src='//cdn.internetcollaboratif.info/img/continents-chart.png' alt='Users from all contients' style='width:100%;max-width:max-content;'/>",
|       "image": "//cdn.internetcollaboratif.info/img/opl_img2.webp",
|       "action": {"id": "signup", "label": "Sign up and start using"},
|       "className": "mdl-grid mdl-cell--12-col"
|     }
| ]