doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container-fluid
      .row.side-body
        .col-sm-12
          h2.fa.fa-2x.fa-cubes &nbsp;Objects from your library
        blockquote.glyphicon.glyphicon-comment  Objects are virtual items dedicated to push data to flows. Objects are defined for each Users.

      .row.side-body
        .col-sm-12
          if (objects.length)
            include ./includes/pagination.jade
            .row.hidden-xs.table-header
              span.col-sm-4
                strong Name
              span.col-sm-4
                strong Id
              span.col-sm-4
                strong Position
            
            - for(object in objects) {
              include ./includes/object_item_list.jade
            - }
            include ./includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any Object yet in your library. You can add an Object from the right-end form.
          p &nbsp;

    include ./includes/foot.jade