| [
|   {
|       "title": "Third-Party Software for t6 IoT",
|       "license": "GNU General Public License v3.0",
|       "titlecolor": "#000000",
|       "description": "Permissions of this strong copyleft license are conditioned on making available complete source code of licensed works and modifications, which include larger works using a licensed work, under the same license. Copyright and license notices must be preserved. Contributors provide an express grant of patent rights.",
|       "linkFullReport": "https://app.fossa.com/attribution/ff59c8bd-5107-480d-aebf-aec64ff69ff0",
|       "dependencies": ""
|   }
| ]