doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-puzzle-piece &nbsp;My Snippets&nbsp;
        blockquote.fa.fa-comment  Snippets are used to graph data from Flows.
        
      -if (message && message.type && message.value)
        .row.side-body
          div.alert(class='alert-#{message.type}', role='alert') !{message.value}

      .row.side-body
        if (snippets.length)
          ul.list-group.list-unstyled.col-sm-12.col-md-12.col-md-offset-0
            include ./includes/pagination.jade
            .row.hidden-xs.table-header
              span.col-sm-2
                strong Icon/Name/Type
              span.col-sm-10
                strong Color/Flows/Id

            - for(snippet in snippets) {
              - if ( !snippets[snippet].icon )
                - snippets[snippet].icon = "fa fa-puzzle-piece"
              - end
              include ./includes/snippet_item_list.jade
            - }
            include ./includes/pagination.jade
        else
          p &nbsp;
          div.alert.alert-warning You don't have any Snippet yet in your library. You can add a <a href="/snippets/add">Snippet</a> to graph your Flows
        p &nbsp;

        div.col-sm-12
          p 

    include ./includes/foot.jade