doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar.jade

    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-heart-o &nbsp;t6 API Status
          
    .side-body
      .row.membership-pricing-table.table
        .col-xs-12.list-unstyled#status

    include ./includes/foot.jade

  script(type='text/javascript').
    $(function () {
      $.ajax({
        url: '/v#{version}/status',
        type: 'GET',
        contentType: 'application/json',
        success: function(status) {
          //console.log(status);
          if ( status.status == 'running' ) {
            $('#status').append('<a class="list-group-item clearfix"><div class="col-sm-8">Service Status:</div><div class="col-sm-4 icon-yes fa-2x fa fa-check-circle-o"><b> '+status.status+'</b></div></a>');
          } else {
            $('#status').append('<a class="list-group-item clearfix"><div class="col-sm-8">Service Status:</div><div class="col-sm-4 icon-no fa fa-2x fa-times-circle-o"><b> '+status.status+'</b></div></a>');
          }
          $('#status').append('<a class="list-group-item clearfix"><div class="col-sm-8">Service Start Date:</div><div class="col-sm-4"><b>'+status.started_at+'</b></div></a>');
          $('#status').append('<a class="list-group-item clearfix"><div class="col-sm-8">Service '+status.appName+' version:</div><div class="col-sm-4"><b>'+status.version+'</b></div></a>');
          $('#status').append('<a class="list-group-item clearfix"><div class="col-sm-8">Mqtt Info Topic:</div><div class="col-sm-4"><b>'+status.mqtt_info+'</b></div></a>');
        },
        error: function(d) {
          //console.log('ERROR ');
          //console.log(d);
        }
      });
    });