| [
|   {
|     "title": "T6 Privacy",
|     "description": "If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at <a href=\"mailto:contact@internetcollaboratif.info\" rel=\"noopener\" target=\"_blank\">Privacy</a>. At <a href=\"https://api.internetcollaboratif.info\" rel=\"noopener\" target=\"_blank\">T6</a> we consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the types of personal information is collected and recorded by <a href=\"https://api.internetcollaboratif.info\" rel=\"noopener\" target=\"_blank\">T6</a> and how we use it."
|   },
|   {
|     "title": "Log Files",
|     "description": "Like many other Web sites, <a href=\"https://api.internetcollaboratif.info\" rel=\"noopener\" target=\"_blank\">T6</a> makes use of log files. These files merely logs visitors to the site - usually a standard procedure for hosting companies and a part of hosting services's analytics. The information inside the log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp, referring/exit pages, and possibly the number of clicks. This information is used to analyze trends, administer the site, track user's movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable."
|   },
|   {
|     "title": "Cookies and Web Beacons",
|     "description": "<a href=\"https://api.internetcollaboratif.info\" rel=\"noopener\" target=\"_blank\">T6</a> uses cookies to store information about visitors' preferences, to record user-specific information on which pages the site visitor accesses or visits, and to personalize or customize our web page content based upon visitors' browser type or other information that the visitor sends via their browser. <a href=\"https://api.internetcollaboratif.info\" rel=\"noopener\" target=\"_blank\">T6</a> has no access to or control over these cookies that are used by third-party advertisers.<br /><br /><b>Strictly Necessary Cookies</b><br />These cookies (connect.sid, cookieconsent, datatypes, flows, units, user_id) are necessary for the website to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies do not store any personally identifiable information.<br /><br /><b>Performance Cookies</b><br />These cookies (Google Analytics) allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site.<br /><br />All information these cookies collect is aggregated and therefore anonymous. If you do not allow these cookies we will not know when you have visited our site, and will not be able to monitor its performance."
|   },
|   {
|     "title": "Children's Information",
|     "description": "We believe it is important to provide added protection for children online. We encourage parents and guardians to spend time online with their children to observe, participate in and/or monitor and guide their online activity. <a href=\"https://api.internetcollaboratif.info\" rel=\"noopener\" target=\"_blank\">T6</a> does not knowingly collect any personally identifiable information from children under the age of 13. If a parent or guardian believes that <a href=\"https://api.internetcollaboratif.info\" rel=\"noopener\" target=\"_blank\">T6</a> has in its database the personally-identifiable information of a child under the age of 13, please contact us immediately (using the contact in the first paragraph) and we will use our best efforts to promptly remove such information from our records."
|   },
|   {
|     "title": "Online Privacy Policy Only",
|     "description": "This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information shared and/or collected there. This policy does not apply to any information collected offline or via channels other than this website.<br />Additionally, t6 also honors the <b>Do Not Track</b> header. This means that if you have the <b>Do Not Track</b> header set on your browser settings, t6 will not track you."
|   },
|   {
|     "title": "Consent",
|     "description": "By using our website T6, you hereby consent to our privacy policy and agree to its terms."
|   },
|   {
|     "title": "Update",
|     "description": "This Privacy Policy was last updated on: Jun 10th, 2018. Should we update, amend or make any changes to our privacy policy, those changes will be posted here."
|   }
| ]