doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar-on-top.jade

    .container
      .row.starter-template
        .col-sm-6.col-md-4.col-md-offset-4
          h2.text-center.login-title Sign-in to Easy-IOT

          .account-wall
            img.profile-img(src='/img/defaultuser.png', alt='')
            
            form.form-signin(method="post", action="/login")
              div.alert(class='alert-danger', role='alert') Please Sign-in to see the page you are looking for.

              label.sr-only(for='key') Key
              input#key.form-control(name='key', type='key', placeholder='Key', required='', autofocus='')
              label.sr-only(for='secret') Secret
              input#secret.form-control(name='secret', type='password', placeholder='Secret', required='')
              button.btn.btn-lg.btn-primary.btn-block(type='submit')
                i.fa.fa-sign-in &nbsp;Sign-in
              a.need-help(href='#') Need help? 
            
              span.clearfix
            a.text-center.new-account(href='/register') Sign-up

    .container &nbsp;
    .container &nbsp;
    .container &nbsp;

    include ./includes/foot.jade