doctype html
html(lang='en')
  include ./includes/head.jade
  body
    include ./includes/navbar-on-top.jade

    div(style='background:url(/img/opl_img.jpg) no-repeat scroll 0 100%')
      .container
        .row.starter-template
          .col-sm-6.col-md-4.col-md-offset-4
            h2.text-center.login-title Sign-in to t6
      
            .account-wall
              img.profile-img(src='#{baseUrlCdn}/img/defaultuser.png', alt='')
              
              form.form-signin(method="post", action="/account/login")
                div.alert.alert-danger(role='alert') Please Sign-in to see the page you are looking for.
      
                label.sr-only(for='email') Email
                input#email.form-control(name='email', type='email', placeholder='Email Address', required='', autofocus='')

                label.sr-only(for='password') Password
                input#password.form-control(name='password', type='password', placeholder='Password', required='')

                button.btn.btn-lg.btn-primary.btn-block(type='submit')
                  i.fa.fa-sign-in &nbsp;Sign-in
              
                span.clearfix
              a.text-center.need-help(href='/account/forgot-password') Forgot Password?
              a.text-center.new-account(href='/account/register') Sign-up
      
      .container &nbsp;
      .container &nbsp;
      .container &nbsp;

    include ./includes/foot.jade