.starter-template {
  padding: 0px 15px 0px 15px;
  margin-top:60px;
  //text-align: center;
}
.sidebar-module-inset {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 15px;
}
a.white {
	color: #fff;
}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.center-text {
	text-align: center;
	display: block;
}
.bottom-text {
	position: absolute;
	bottom: 0;
	right: 0;
}

.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"], 
.form-signin input[type="key"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input#firstname {
    border-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"],
.form-signin input[type="secret"],
.form-signin input#lastname {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}
.jqstooltip {
  width: auto !important;
  height: auto !important;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
  min-height: 280px;
}
.caps {
    text-transform: capitalize;
}
.vresize {
  resize: vertical; 
}
.hresize {
  resize: horizontal;  
}
dl dt, dl dd {
    line-height: 26px;
}

/* Spinner */
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.panel-resizable {
	resize: horizontal;
	overflow: auto;
}
.handle {
	cursor: move;
}