.hidden-xs.table-header.clearfix
  span.col-sm-3
    strong Icon/Name/Id
  span.col-sm-1
    strong Type
  span.col-sm-2
    strong Color
  span.col-sm-3
    strong Flows
  span.col-sm-2
    strong Created/Updated
  span.col-sm-1
    strong Actions