doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade
    
    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-users  User Accounts
          if (message && message.type && message.value)
            div.alert(class='alert-#{message.type}', role='alert') #{message.value} 

      .row.side-body
        .col-xs-12.col-sm-12.col-md-12
          ul.clearfix.pagination
            li.active
              span.fa.fa-3x.fa-users(style='border-bottom-left-radius:0;border-bottom-right-radius:0;')  #{users_length} Users

      .row.side-body
        .col-sm-12
          if (users.length)
            include ../includes/pagination.jade
            include ./item_header.jade
            .list-group
              - for(user in users) {
                include ./item_list.jade
              - }
            include ../includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any User. Please be patient.

    include ../includes/foot.jade