.hidden-xs.table-header.clearfix
  span.col-sm-1
    strong Picture
  span.col-sm-2
    strong Name
  span.col-sm-2
    strong Email
  span.col-sm-1
    strong Validated
  span.col-sm-1
    strong Role
  span.col-sm-1
    strong Mail
  span.col-sm-2
    strong Created
  span.col-sm-2
    strong Updated