-if ( list != null )
  p Email 
    strong #{mail} 
    | have successfully been added to the list 
    strong #{list}
    | .
  p Your subscriptions:
    ul
      -if ( user.unsubscription.reminder > 0 )
        li Reminder Welcome email - 
          a(href="../../subscribe/reminder/") Subscribe
      -else
        li Reminder Welcome email - 
          a(href="../../unsubscribe/reminder/") Unsubscribe
      -endif
      
      -if ( user.unsubscription.changePassword > 0 )
        li Reminder to change Password - 
          a(href="../../subscribe/changePassword/") Subscribe
      -else
        li Reminder to change Password - 
          a(href="../../unsubscribe/changePassword/") Unsubscribe
      -endif
      
      li Security notification related to your account

-else
  p Something goes wrong. Your request have not been taken into account.
-endif