.hidden-xs.table-header
  span.col-sm-6
    strong Name/Description/Id
  span.col-sm-2
    strong Position
  span.col-sm-2
    strong Localisation/Visibility
  span.col-sm-2
    strong Created/Updated