.hidden-xs.table-header.clearfix
  span.col-sm-6
    strong Name/Id/Description
  span.col-sm-2
    strong Position
  span.col-sm-2
    strong Localisation/Visibility
  span.col-sm-2
    strong Created/Updated