doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade
    
    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-random &nbsp;Flows from your library
          if (message && message.type && message.value)
            div.alert(class='alert-#{message.type}', role='alert') #{message.value}
        blockquote.fa.fa-comment  Flows contains data collections. Flows are datastore to save time/value. Each Object can POST data to multiple Flows. Flows are defined for each Users and are having permissions.
        
      .row.side-body
        .col-sm-12
          if (flows.length)
            include ../includes/pagination.jade
            include ./item_header.jade
            .list-group
            - for(flow in flows) {
              include ./item_list.jade
            - }
            include ../includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any Flow yet in your library. You can <a href="/flows/add">add a Flow</a>.
          p &nbsp;

    include ../includes/foot.jade