doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade

    .container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-random &nbsp;Graph a Flow

        div(class='col-sm-12')
          include ../snippets/flowgraph.jade
          a.btn.btn-default.btn-sm(href="/flows/#{flow_id}")
            span.fa.fa-random Back to Flow
          | &nbsp;
          a.btn.btn-default.btn-sm(href="/flows")
            span.fa.fa-random Back to Flows
          | &nbsp;


    include ../includes/foot.jade
