.hidden-xs.table-header.clearfix
  span.col-sm-6
    strong Name/Id/MQTT Topic
  span.col-sm-2
    strong Unit/Objects
  span.col-sm-2
    strong Permissions
  span.col-sm-2
    strong Created/Updated