.hidden-xs.table-header.clearfix
  span.col-sm-2
    strong Type
  span.col-sm-4
    strong Token
  span.col-sm-2
    strong  
  span.col-sm-2
    strong  Created
  span.col-sm-2
    strong Expiration