doctype html
html(lang='en')
  include ../includes/head.jade
  body
    include ../includes/navbar.jade
    
    .-o-container-fluid
      .row.side-body.hidden-xs
        .col-sm-12
          h2.fa.fa-2x.fa-flash &nbsp;API Keys
          if (message && message.type && message.value)
            div.alert(class='alert-#{message.type}', role='alert') #{message.value}
        blockquote.fa.fa-comment  Expired keys will automatically be removed from your list.
        
      .row.side-body
        .col-sm-12
          if (tokens.length)
            include ../includes/pagination.jade
            include ./item_header.jade
            .list-group
              - for(token in tokens) {
                include ./item_list.jade
              - }
            include ../includes/pagination.jade
          else
            p &nbsp;
            div.alert.alert-warning You don't have any Key yet in your library. You can <a href="/keys/add">add a Key</a>.

    include ../includes/foot.jade