a.clearfix.list-group-item(name='#{flows[flow].id}')
  div.col-sm-10.ellipsis
    span.label.label-warning.fa.fa-commenting-o  #{flows[flow].mqtt_topic}

  div.col-sm-2.ellipsis
    span.label.label-default.ellipsis #{flows[flow].id}